*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1900px;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 40px;
}


.nav__bar{
    display: flex;
    align-items: center;
}

.list{
    display: flex;
    align-items: center;
    gap: 200px; 
    justify-content: space-between;
}

.list img {
    width: 120px;
}


.iconslar{
    display: flex;
    align-items: center;
    gap: 20px;
}


.Til{
    padding: 5px;
    color: white;
    background: rgb(69, 69, 167);
    border-radius: 5px;
}
.list__link{
    font-size: 20px;
    font-weight: 500;
    color: rgb(69, 69, 167);
    transition: 0.1s all ease;
}

.list__link:hover{
     border-bottom: 2px solid #2b3eb2;
}

.container i{
    color: rgb(69, 69, 167);
}

section video{
    margin-top: 15px;
}
.title{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
    color: #2b3eb2;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    max-width: 1800px;  
    margin: 0 auto;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;     
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.2s all;
}

.card-img {
    width: 100%;
    height: 180px;     
    object-fit: contain;
    margin-bottom: 10px;
}

.card-title {
    font-size: 22px;
}

.card-price {
    font-size: 16px;
    margin: 8px 0 15px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
}
.card:hover {
    transform: translateY(-10px);  
    box-shadow: 0 12px 25px rgba(0,0,0,0.15); 
}
.footer {
    background: #f4f4f4;
    padding: 40px 60px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.pastki-qism h3 {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.pastki-qism ul {
    list-style: none;
    padding: 0;
}

.pastki-qism ul li {
    margin: 6px 0;
    color: #666;
    cursor: pointer;
}

.pastki-qismn ul li:hover {
    color: black;
}

.manzil {
    margin-top: 40px;
    text-align: center;
}

.manzil p {
    font-weight: bold;
    margin-bottom: 10px;
}

.icons span {
    margin: 0 8px;
    font-size: 23px;
    cursor: pointer;
}

hr {
    margin-top: 30px;
    border: none;
    border-top: 1px solid #ccc;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
    color: #555;
}

.xayr {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

